In [21]:
import pandas as pd
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

%matplotlib inline

import os
os.name

if os.name == "posix":
    sns.set(font="AppleGothic")
elif os.name == "nt":
    sns.set(font="Malgun Gothic")

In [2]:
df.head()

  국가(대륙)별        상품군별   판매유형별        시점   데이터
0      미국  컴퓨터 및 주변기기  면세점 이외  2017.1/4  1054
1      미국  컴퓨터 및 주변기기  면세점 이외  2017.2/4   946
2      미국  컴퓨터 및 주변기기  면세점 이외  2017.3/4   791
3      미국  컴퓨터 및 주변기기  면세점 이외  2017.4/4   854
4      미국  컴퓨터 및 주변기기  면세점 이외  2018.1/4  2033

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  2772 non-null   object
 1   상품군별     2772 non-null   object
 2   판매유형별    2772 non-null   object
 3   시점       2772 non-null   object
 4   데이터      2772 non-null   int64
 5   연도       2772 non-null   int64
 6   분기       2772 non-null   int64
 7   데이터(백만)  2772 non-null   int64
dtypes: int64(4), object(4)
memory usage: 173.4+ KB

In [23]:
df.shape

(2772, 8)

In [69]:
df.describe(include="object")

       국가(대륙)별        상품군별   판매유형별        시점
count     2772        2772    2772      2772
unique       9          14       1        22
top         미국  컴퓨터 및 주변기기  면세점 이외  2017.1/4
freq       308         198    2772       126

In [76]:
df['데이터(백만)'].head()

0    1054000000
1     946000000
2     791000000
3     854000000
4    2033000000
Name: 데이터(백만), dtype: int64

In [67]:
# df['백만'] = df['데이터'] * 100000 아님

In [71]:
df['연도'] = df['시점'].apply(lambda x: int(x.split('.')[0]))  # 연도 추출
df['분기'] = df['시점'].apply(lambda x: int(x.split('/')[0].split('.')[1]))  # 분기 추출

In [74]:
df['백만'] = df['데이터']

In [73]:
show = df[["백만","연도","분기"]].describe()
show.round(2)

             백만       연도       분기
count   2772.00  2772.00  2772.00
mean    1613.12  2019.27     2.41
std     4273.43     1.60     1.11
min   -10003.00  2017.00     1.00
25%       41.75  2018.00     1.00
50%      291.50  2019.00     2.00
75%     1181.00  2021.00     3.00
max    47689.00  2022.00     4.00