# Zen of pyhton
* 파이썬의 철학이 잘 담겨 있는 zen of python을 출력해 봅시다.
* import를 통해 파이썬의 라이브러리나 패키지를 가져올 수 있습니다.

In [1]:
# pep20
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# boolean
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있다
* True나 False는 0이나 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True나 False로 사용

In [9]:
# True로 출력해 보세요 
True

True

In [8]:
# False로 출력해 보세요 
False

False

In [10]:
# True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때는 ==을 사용합니다.
True == 1

True

In [11]:
# False는 0과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때는 ==을 사용합니다.
False == 0

True

In [12]:
#하지만 Ture는 문자 1과는 다릅니다. 1을 따음표로 감싸면 문자열이 됩니다.
True == "1"

False

In [14]:
#문자열 1과 True는 다릅니다.
True != "1"

True

In [15]:
# False도 마찬가지이다
False != "0"

True

In [16]:
#False는 문자열 0과 다릅니다.
False != "0"

True

In [17]:
# and 연산으로 True값 까리 비교합니다.
# and 는 모든 값이 True 일때만 True가 됩니다.
True and True

True

In [18]:
# and는 조건 중 하나라도 False가 되면 False가 됩니다.
True and False

False

In [21]:
# OR은 하나만 TRUE라도 TRUE가 됩니다.
True or False

True

In [ ]:
# Number and String
* 숫자 1과 문자 "1"은 다릅니다. 숫자 1과 문자 1의 데이터 타입을 출력하세요
* 데이터 타입을 표현할 떄 type을 통해 data를 출력합니다.

In [22]:
# 숫자 1을 출력하세요 
1

1

In [24]:
#문자 1를 출력하세요 
"1"

'1'

In [25]:
# 숫자 1의 데이터 타입을 출력해 보세요
type(1)

int

In [26]:
# 문자 1의 데이터 타입을 출력해 보세요
type("1")

str

In [27]:
#Hello World를 출력해보세용
"Hello World"

'Hello World'

In [28]:
# 주소 "경기도 성남시 분당구"를 출력해 보세요
"경기도 성남시 분당구"

'경기도 성남시 분당구'

In [ ]:
# == 비교연산
# = 할당연산

In [32]:
# Til이라는 변수에 문자열을 담아봅시다.
til = "Today I learned"
til

'Today I learned'

In [33]:
# 모든 til를 소문자로 만드세요
til.lower()

'today i learned'

In [34]:
# 대문자로 만드세요
til.upper()

'TODAY I LEARNED'

In [36]:
# LISTS
#비어있는 리스트를 만듭니다. lang이라는 변수에 담습니다.
lang = []
lang

In [37]:
#파이썬, java, c 를 넣으세요 append
lang.append("python")
lang.append("java")
lang.append("C")
lang

['python', 'java', 'C']

In [38]:
# lang이라는 변수에 담겨있는 언어명을 인덱싱을 통해 가져옵니다.
lang[0]

'python'

In [39]:
#1번 인덱스
lang[1]

'java'

In [41]:
#마지막 인덱스
lang[-1]

'C'

In [ ]:
#Control Flow
# 제어문 - 조건문, 반복문

In [42]:
#반복문을 사용해서 리스트의 원소를 하나씩 출력한다
for i in lang:
    print(i)

python
java
C

In [44]:
#위 코드에서 python일 때는 그대로 출력하고 나머지가 텍스트는 기타라고 출력 
# 출력 결과가 아래의 순서로 나오게한다
# python
# 기타
# 기타 
for i in lang : 
    if i == "python":
        print("python")
    else:
        print("기타")

python
기타
기타

In [51]:
# 특정 횟수 만큼 반목을 실행라라
count = len(lang)
for i in range(3):
    print(lang[i])

python
java
C

In [59]:
# for문과 if문을 사용하세요
# 짝수일 떄 pyhton을 홀수 일떄 "java"를 출력한다
for i in range(1, 10):
    if i % 2 == 0:
        print("python")
    else:
        print("java")

java
python
java
python
java
python
java
python
java

In [62]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가지고 올 수 있다.
for i, val in enumerate(lang):
    print(i, val)

0 python
1 java
2 C

In [63]:
# 주소를 address 변수에 담는다
address = " 경기도 성남시 분당구 불정로 6 "
address

' 경기도 성남시 분당구 불정로 6 '

In [66]:
# 앞뒤 공백을 제거한다
# 데이터 전처리 시 주로 사용한다
address = address.strip()
address

'경기도 성남시 분당구 불정로 6'

In [67]:
# 문자열의 길이
len(address)

17

In [73]:
# 공백으로 문자열 분리
address_list = address.split()
address_list

['경기도', '성남시', '분당구', '불정로', '6']

In [74]:
#리스트의 길이
len(address_list)

5

In [76]:
#슬라이싱으로 문자 가져오기
address[:2]

'경기'

In [77]:
# startWith를 사용하면 특정 문자가 포함되는지 여부를 확인 가능
address.startswith("경기")

True

In [78]:
# in를 사용하면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있다.
"경기" in address

True

In [82]:
# 인덱싱으로 리2스트의 원소 가져오기 - 주소에서 구를 가져와 gu라는 변수를 담으세요

gu  =address_list[2]
gu

'분당구'

In [84]:
#인덱싱으로 리스트의 원소 가져오기 - 주소에서 도로명을 가져와 streer 이라는 변수에 담라
street  =address_list[3]
street

'불정로'

In [86]:
# 리스트의 마지막을 가져온다
address_list[-1]

'6'

In [87]:
# "".join를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
"-".join(address_list)

'경기도-성남시-분당구-불정로-6'

In [93]:
# in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인 할 수 있습니다.
"경기도" in address_list

True

In [91]:
"분당구" in address_list

True